
.batch {
    margin: 20px;
  }
  
  .batch div {
    display: grid;
  }
  
  .batch img {
    width: 100%;
    height: auto; 
  }
  
  .batch h1 {
    margin-top: 20px;
  }
  
  .batch p {
    margin-bottom: 10px;
  }
  
  
  .batch > div {
    margin-top: 20px;
  }
 
  .batch select {
    margin-top: 10px;
    padding: 5px;
  }
  

  