.book-trial {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .book-trial h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .book-trial form {
    display: flex;
    flex-direction: column;
  }
  
  .book-trial label {
    margin-bottom: 8px;
  }
  
  .book-trial input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .book-trial button {
    padding: 10px 20px;
    background-color:  #34495e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  .book-trial a{
    color: white;
    text-decoration: none;
  }
  .book-trial button:hover {
    background-color: rgb(242, 147, 52);
  }
  
  @media screen and (max-width: 600px) {
    .book-trial {
      padding: 10px;
    }
  
    .book-trial h1 {
      font-size: 20px;
    }
  }
  