.homepage {
    align-items: center;
    padding: 50px;
    background-color: #ecf0f1; /* Change the background color as needed */
    color: #34495e; /* Change the text color as needed */
  }
  .upper{
    display: flex;
  }
  
  
  /* .lower{

  } */
  .lowericon{
    display: flex;
    justify-content: space-around;
  }
  /* .hp-icon {
    margin-top: 50px;
    text-align: center;
    display: flex;
  }
  
  .hp-lower h1 {
    margin-bottom: 20px;
  }
  
  .hp-lower span {
    display: block;
    margin-bottom: 40px;
  } */
  
  /* img {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #3498db; 
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #2980b9;  } */