.homepage {
    align-items: center;
    padding: 50px;
    background-color: #ecf0f1;
    color: #34495e; 
  }
  .upper{
    display: flex;
  }
  

  .lowericon{
    display: flex;
    justify-content: space-around;
  }
  span{
    display: grid;
    justify-items: center;
  }
  .lowericon button{
    background: #34495e;
    width: 50%;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .lowericon button:hover{
    cursor: pointer;
    background-color: rgb(242, 147, 52);
  }