.homepage {
    align-items: center;
    padding: 50px;
    background-color: #ecf0f1;
    color: #34495e; 
  }
  .upper{
    display: flex;
  }
  .lowericon{
    display: flex;
    justify-content: space-around;
  }
  span{
    display: grid;
    justify-items: center;
  }
  .hp-right>iframe{
    width:560px;
     height:315px}
  .lowericon button{
    background: #34495e;
    width: 50%;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .lowericon button:hover{
    cursor: pointer;
    background-color: rgb(242, 147, 52);
  }
   .lowericon a{
  
    color: white;
      text-decoration: none;
    
  }
 
  @media (max-width: 768px) {
    .homepage {
        padding: 30px;
    }

    .lowericon {
        flex-direction: column;
        align-items: center;
    }

    .lowericon button {
        width: 80%;
        margin-top: 10px;
    }
    .upper{
      display:grid;
    }
    .hp-right>iframe{
      width: 100%;
      margin-top: 10px;
    }
  
}