/* .product{
    display: flex;
} */
/* Product.css */

.product {
    display: flex;

    align-items: center;
    padding: 50px;
    background-color: #f9f9f9; 
    color: #333; 
  }
  
  .p-left {
    width: 50%; 
    margin-left: 75px;
  }
  
  .p-left img {
    width: 110%;
    height: auto;
    border-radius: 5px;
   
  }
  
   .p-right {
    width: 50%;
  } 

  .box{
    background-color: rgb(242, 242, 247);
    margin: 20px;
    padding: 20px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
  }
  .box span{
    display: grid;
  }
  
  .box button{
    background-color: #bfcbe69c;
    padding: 0 20px 0 20px;
    border-radius: 30%;
  }
  .box div{
    margin-left: 20px;
    /* padding-left: 10px; */
  }