.product {
    display: flex;

    align-items: center;
    padding: 50px;
    background-color: #f9f9f9; 
    color: #333; 
  }
  
  .p-left {
    width: 50%; 
    margin-left: 75px;
  }
  
  .p-left img {
    width: auto;
    height: auto;
    border-radius: 5px;
   
  }
  
   .p-right {
    width: 50%;
  } 

  .box{
    background-color: rgb(242, 242, 247);
    margin: 20px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  .box span{
    display: grid;
  }
  
  .box Link button{
    background-color: #bfcbe69c;
    padding: 0 20px 0 20px;
    border-radius: 15%;
    border: none;
  }
  .box div{
    margin-left: 20px;
    
  }
  .box button:hover{
    cursor: pointer;
    background-color: burlywood;
  }

  @media (max-width: 768px) {
    .product {
        flex-direction: column;
        padding: 30px;
    }

    .p-left {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px; 
    }

    .p-right {
        width: 100%;
    }
    .p-left>img{
        width:100%;
    }
    .box Link button{
        width: 34%;
        
    }
}